@font-face {
    font-family: pop;
    src: url(Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: pop;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(9 9 11);
}
.Main_Bar{
    /* text-align: center; */
    margin: 30px auto;
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: center;
    height: 80px;
    width: 75%;
    background-color:rgb(24 24 27);
    border: 1px solid transparent;
    border-radius: 20px;
    /* border: 1px solid rgb(254 202 202); */

}
.left-butt{
    /* all: unset; */
    /* background-color: red; */
    padding: 15px;
    padding-left: 30px;
    font-family: pop;
    font-size: 35px;
    color: white;
    flex:1;
}

.right-butt{
    text-align: right;
    /* all:unset; */
    padding: 17px;
    padding-right: 25px;
    font-family: pop;
    flex:3;
}
.right-butt button{
    all: unset;
    color: white;
    padding: 7px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 20px;
    flex:1;
    margin-left: 10px;
}

#colored{
    color: black;
    background-color: rgb(248 113 113);
    border-radius: 20px;
}
.right-butt button:hover{
    /* all: unset; */
    color: black;
    cursor: pointer;
    background-color: rgb(214 211 209);
    border-radius: 20px;
}
#colored:hover{
    /* all: unset; */
    color: black;
    cursor: pointer;
    background-color: rgb(214 211 209);
    border-radius: 20px;
}
.main_box{
    display: flex;
    /* border: 1px solid rgb(254 202 202); */

    text-align: center;
    width: 75%;
    border-radius: 20px;
    padding: 30px 0px;
    /* padding: 20px; */
    margin: auto;
    color: white;
    background-color:rgb(24 24 27)
}
.mb_left button{
    all:unset;
    color: black;
    font-size: 20px;
    background-color: rgb(248 113 113);
    border-radius: 20px;
    padding: 7px 15px;
    margin-top: 10px;
}
.mb_left{
    flex: 1;
    text-align: left;
    /* max-width: fit-content; */
    padding-left: 30px;
}
.mb_right{
    flex: 2;
    text-align: right;
    position: relative;
    padding-right: 20px;
}
.join_room{
    /* background-color: white; */
    text-align: left;

}
.join_room a{
    /* background-color: white; */
    all:unset;
}
#send{
    background-color: rgb(214 211 209);
    padding-left: 27px;
    padding-right: 27px;
    /* border-bottom-right-radius: 0; */

}
#createRoomBtn{
    margin-top: 20px;
    /* border-top-left-radius: 0; */
}
#subtext{
    font-size: 20px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
#eagle{
    height: 280px;
    margin-top: 15px;
    position: relative;
}
#bubble{
    text-align: left;
    font-size: 22px;
    width: fit-content;
    color: black;
    /* font-weight: ; */
    position: absolute;
    background-color: rgb(214 211 209);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    top: 5px;
    padding: 12px;
    /* padding-right: 4px; */
    right: 300px;
}

#bubble button{
    position: absolute;
    /* font-weight: bold; */

    right: 7px;
    top: 5px;
    color: black;
    font-size: 16px;
    background-color: rgb(248 113 113);
    border-radius: 20px;
    padding: 7px 12px;
    margin-top: 10px;
    border: 2px solid black;
}

#bubble p{
font-size: 20px;

}
#link_{
    margin-top: 16px;
    font-size: 15px;

}
#ROOM{
    /* position: absolute; */
    font-size: 22px;
    width: fit-content;
    padding: 7px 0;
    border-radius: 20px;
    /* border: 2px solid black; */
    background-color: transparent;
    margin-top: 5px;
    left: 10px;
}
