<!DOCTYPE html>
<html>

<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/chat.css">
</head>

<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="head">Chat Room: {{ room_id }}</h1>
        <h3 class="subhead">Welcome, {{ username }}</h3>
        <div id="chatBox" class="chat mt-4 p-3" ></div>
        <form id="messageForm" class="inp">
            <div class="input-group">
                <input type="text" id="messageInput" class="form-control" placeholder="Type a message" required>
                <button type="submit" class="btn1 btn-primary">Send</button>
            </div>
        </form>
        <button id="exitChatBtn" class="btn2 btn-danger mt-3">Exit Chat</button>
    </div>

    <script>

        window.addEventListener('beforeunload', (e) => {
            fetch('/exit_chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ room_id: "{{ room_id }}" })
            });
        });

        const chatBox = document.getElementById('chatBox');
        const messageForm = document.getElementById('messageForm');
        const messageInput = document.getElementById('messageInput');
        const exitChatBtn = document.getElementById('exitChatBtn');

        function fetchMessages() {
            fetch('/get_messages')
                .then(response => response.json())
                .then(messages => {
                    chatBox.innerHTML = '';
                    messages.forEach(msg => {
                        chatBox.innerHTML += `<p><strong>${msg.username}:</strong> ${msg.message}</p>`;
                    });
                });
        }

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            const username = "{{ username }}"; // Get the username from Jinja template

            fetch('/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: message, username: username })
            })
                .then(() => {
                    messageInput.value = '';
                    fetchMessages(); // Refresh chat messages
                });
        });



        exitChatBtn.addEventListener('click', () => {
            fetch('/exit_chat', { method: 'POST' }).then(() => {
                window.location.href = '/';
            });
        });

        setInterval(fetchMessages, 500);
    </script>
</body>

</html>