<!DOCTYPE html>
<html>

<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>

<body class="bg-dark text-light text-center">
    <header>
        <div class="Main_Bar">
            <div class="left-butt">
                    MikeHawk
            </div>

            <div class="right-butt">
                    <button>Home</button>
                    <button>About</button>
                    <button>Contact</button>
                    <button id="colored">Team</button>
            </div>
        </div>
    </header>
    <div class="main_box">
        <div class="mb_left">
            <h1>Shush.....</h1>
            <h2>Join, Discuss, Leave</h2>
            <div id="subtext">Create or Join a Chat Room</div>
            <button id="createRoomBtn" class="btn btn-primary">Create Chat Room</button>
            <div id="roomInfo"></div>
            <div class="join_room">
            <button id="send"><a href="/chat" >Join Chat Room</a></button>

            </div>
        </div>
       <div class="mb_right">
            <img id="eagle" src="{{ url_for('static', filename='css/e.png') }}" alt="img">
            <label for="eagle" id="bubble">Everything needn't be revealed. <br> Text anonymously</label>
       </div>
    </div>

    <script>
        document.getElementById('createRoomBtn').addEventListener('click', () => {
            fetch('/create', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    const url = `${window.location.origin}/join_chat?room_id=${data.room_id}&password=${data.password}`;
                    document.getElementById('bubble').innerHTML = `
    <p><div id="ROOM">Room URL </div><div id="link_"><a href="${url}" target="_blank">${url}</a></div></p>
    <button id="copyUrlButton">Copy link</button>
`;

                    // Add event listener to the button
                    document.getElementById('copyUrlButton').addEventListener('click', () => {
                        navigator.clipboard.writeText(url).then(() => {
                            alert('Room URL copied to clipboard!');
                        }).catch(err => {
                            console.error('Failed to copy URL:', err);
                        });
                    });

                });
        });
    </script>
</body>

</html>